@charset "utf-8";
/* CSS Document */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILTERS ~~~~~~~~~~~~~~~~~~~~~~~~ */
#filterOptions{
  width: 100%;
  background-color: #cfd9e2;
  padding: 16px;
  flex-flow: row wrap;
}
#filterOptions>h2{
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  color: #1c262f;
  margin-bottom: 25px;
  height: auto;
}
.filter_tag{
  text-transform: capitalize;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ SELECT OPTIONS ~~~~~~~~~~~~~~~~~~~~~~~~ */

.select_widget{
  position: relative;
}
.select_widget:nth-of-type(1){
  margin-right: 40px;
}
.selectbutton{
  height: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: #fff;
  justify-content: flex-start;
  border: 2px solid #fff;
}
#selected_neighborhood, #selected_cuisine{
  font-size: 1rem;
  width: 170px;
  text-align: left;
  padding-left: 10px;
}
.selectbutton:focus, .selectbutton:hover{
	border-color: #ff751a;
}
.select_arrow{
  border: 9px solid #1c262f;
}
.arrow_up {
  margin-top: -10px;
  border-color: transparent transparent #1c262f transparent;
}
.arrow_down {
  margin-top: 11px;
  border-color: #1c262f transparent transparent transparent;
}


#neighborhoods_list, #cuisine_list{

}
.selectoption{
  border-bottom: 1px solid rgba(28, 38, 47, 0.5);
  padding: 8px 10px;
  text-align: left;
  font-size: 1rem;
}
.listbox{
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: auto;
  list-style-type:none;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 5px 1px rgba(0, 0, 0, 0.15), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: #000;
  z-index: 5000;
}
.selectoption.selected{
  background-color: rgba(28, 38, 47, 1)!important;
  color:#fff!important;
}
.selectoption:hover,.selectoption:focus {
  background-color: rgba(28, 38, 47, 0.8)!important;
  color:#fff!important;
  outline: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILTER RESULTS ~~~~~~~~~~~~~~~~~~~~~~~~ */
#filterResults{
  background-color: inherit;
  width: 100%;
  color: #fff;
}
#filterResults>h4{
  font-weight: 400;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 16px;
  background-color: #323b43;
}
#checkbox_container{
  border: 1px solid #336699;
  background-color: #336699;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ CHECKBOX FOR MAP DISPLAY ~~~~~~~~~~~~~~~~~~~~~~~~ */
.checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  width: 140px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  outline: none;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 8px;
}
.checkmark:hover, .checkmark:focus  {
  background-color: #cfd9e2;
	border-color: #ff751a;
  outline: none;
}
.checkbox_container input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox_container .checkmark:after {
  left: 7px;
  top: 1px;
  width: 7px;
  height: 15px;
  border: 2px solid #4080bf;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ RESTAURANT LIST ~~~~~~~~~~~~~~~~~~~~~~~~ */
.list_container{
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.restaurantCard{
  display: block;
  width: 250px;
  height: 400px;
	position: relative;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 9px 1px rgba(0, 0, 0, 0.15), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 16px;
  padding: 8px;
  overflow: hidden;
}
.favoriteBookmark{
  position: absolute;
  top: 0px;
  right: 7px;
  overflow:visible;
  width: 50px;
  height: 60px;
  font-size: 100px;
  z-index: 8;
}
.material-icons.bookmark{
  position: absolute;
  top: -14px;
  left: -29px;
  display: block;
  font-size: 100px;
  color:#bfbfbf;
  opacity: 0.8;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}
.favoriteButton{
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  background-color: rgba(255, 255, 255, 0);
}
.material-icons.heart{
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 10;
  font-size: 50px;
}
.heart{
  color: #333;
}
.favoriteButton:hover>.heart,.favoriteButton:focus>.heart{
  color: #fff!important;
  text-shadow: 0px 0px 12px #333;
}
.heart.favored{
  color: #e60000;
}
.imageContainer {
	background-color: #fff;
	height: 178px;
	color: #fff;
	text-align: center;
	font-size: 5rem;
	line-height: 168px;
	position:relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.restaurantImg {
  width: auto;
	height: 100%;
	margin: auto;
	display: block;
	font-size: 1.1rem;
	color: #000;
	line-height: 1.2rem;
}
.restaurantName{
	color: #ca5000;
	letter-spacing: 0;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 4px;
  min-height: 50px;
  margin: 0 8px;
  border-bottom: 1px dashed #ca5000;
}
.neighborhood {
	font-size: 1.1rem;
  padding: 8px;
  color: #000;
  margin: 0 8px;
}
.address{
	font-size: 1rem;
	height: 50px;
  padding: 0 8px;
  color: #4d4d4d;
  margin: 0 8px;
}
.more {
	border-radius: 10px;
  color: #ffffff;
  display: block;
  height: 48px;
  width: 180px;
  font-size: 1rem;
  margin: auto;
  margin-top: 5px;
  text-transform: uppercase;
  line-height: 48px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none!important;
  background-color: #ca5000;
  color: #fff;
}
.more:hover, .more:focus {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 9px 1px rgba(0, 0, 0, 0.15), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	outline: none;
	color: #1c262f;
	background-color: #ff751a;
}
/* ~~~~~~~~~~~~~~~~~~ RESPONSIVE DESIGN WITH MEDIA QUERIES ~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 500px) {
  #filterOptions{
    flex-flow: column nowrap;
  }
  .select_widget:nth-of-type(1){
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 840px) and (max-width: 900px) {
  .restaurantCard{
    margin: 1%;
  }
}
@media screen and (min-width: 778px) and (max-width: 848px) {
  .restaurantCard{
    width: 100%;
    max-width: 350px;
    margin: 1%;
    height: 480px;
  }
  .imageContainer {
    height: 260px;
  }
}
@media screen and (min-width: 405px) and (max-width: 612px) {
  .restaurantCard{
    width: 100%;
    max-width: 350px;
    margin: 16px;
    height: 480px;
  }
  .imageContainer {
    height: 260px;
  }
}
