@charset "utf-8";
/* CSS Document */
#reviews {
  background-color: inherit;
  height: auto;
}
#reviews>h2 {
  font-size: 1.4rem;
}
#reviews>h2>span {
  display: block;
}
#reviewsList {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 16px;
}
.reviewCard {
  min-width: 300px;
  width: 29%;
  margin: 2%;
  padding-bottom: 16px;
  position: relative;
  height: 340px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 25px 0px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 9px 1px rgba(0, 0, 0, 0.15), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.reviewRating {
  border: 1px solid #333;
  width: 100%;
  border-top-left-radius: 20px;
  padding: 20px;
  background-color: #333;
}
.ratingHeader {
  color: #e6e6e6;
  text-transform: capitalize;
  padding-right: 8px;
  text-shadow: -2px 2px 5px #000;
}
.star_for_review {
  font-size: 1.4rem;
  color: #ccc;
  text-shadow: -2px 2px 5px #000;
}
.star_for_review.given_star {
  color: #ffd11a;
}
.reviewInfo {
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-shadow: -1px 1px 4px #999999;
}
.reviewer {
  text-align: left;
  text-transform: capitalize;
  width: 55%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-style: italic;
}
.reviewer>span {
  display: inline-block;
}
.reviewer>b {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width : 100px;
  flex: 1 0 50px;
  padding: 4px 0 4px 8px;
}
.reviewCreationDate {
  text-align: right;
  text-transform: capitalize;
  width: 45%;
  padding-left: 16px;
}
.reviewUpdateDate {
  text-align: right;
  font-style: oblique;
  font-size: 0.9rem;
  color: #ca5000;
  display: block;
  width: 100%;
  margin-top: 4px;
}
.ratingComments {
  margin: 0 8px;
  padding: 0 8px;
  height: 100%;
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  font-size: 0.95rem;
  word-wrap: break-word;
}
/* ~~~~~~~~~~~~~~~~~~ RESPONSIVE DESIGN WITH MEDIA QUERIES ~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1200px) {
  .reviewCard {
    width: 45%;
    height: 300px;
  }
  .ratingComments {
    max-height: 150px;
  }
}
@media screen and (max-width: 840px) {
  .reviewCard {
    width: 100%;
    margin: 20px 0;
    max-height: initial;
    min-height: initial;
    height: auto;
  }
  .ratingComments{
    max-height: initial;
    min-height: initial;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  .reviewCard {
    min-width: 200px;
  }
  .reviewRating {
    flex-flow: row wrap;
    padding: 10px;
  }
  .ratingHeader {
    padding-right: 0px;
    width: 100%;
    padding-bottom: 4px;
  }
  .reviewer, .reviewCreationDate, .reviewUpdateDate {
    width: 100%;
    text-align: left;
    padding-left: 0px;
    margin: 0;
  }
  .reviewCreationDate {
    padding: 4px 0;
  }
}
